*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-color: #050505;
}

.icon {
    padding-right: 1rem;
}

.dark {
    color: #F7F7F2;
    background-color: #32323A;
}

.container {
    max-width: 102rem;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.nav h1 {
    font-size: 3rem;
    font-weight: bold;
    flex-grow: 2;
    padding-left: 1rem;
    letter-spacing: 0.2rem
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}

.menu-item {
    list-style: none;
    font-size: 1.5rem;
    color: #F7F7F2;
}

.menu .menu-item:hover,
.menu .menu-link:hover {
    color: #DB4D41;
}

.menu-link {
    text-decoration: none;
}

.menu-link:visited {
    color: #F7F7F2;
}

.main {
    display: flex;
    flex-direction: column;
}

.song {
    display: grid;
    position: relative;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(3, minmax(auto, max-content)) repeat(2, minmax(min-content, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    border: 5px solid #F7F7F2;
    min-height: 100%;
}

.song-play {
    background-color: #050505;
}

.song-cover {
    grid-row: span 3;
    grid-column: 1 / span 3;
    align-self: center;
}

.song-title {
    grid-row: 1;
    grid-column: 4 / span 2;
    font-size: 2rem;
    font-weight: bold;
    justify-self: center;
}

.song-artist-album {
    grid-row: 2;
    grid-column: 4 / span 2;
    font-size: 1.5rem;
    font-weight: 400;
    justify-self: center;
}

.song-preview {
    grid-row: 4;
    grid-column: 1 / -1;
    justify-self: center;
}

.song-favorite {
    grid-row: 3;
    grid-column: 4 / span 2;
    padding: 1rem;
    align-self: center;
    font-size: 1.5rem;
    border: 1px solid #DB4D41;
    outline: none;
}

.isFavorite,
.isFavorite:focus {
    color: #F7F7F2;
    background-color: #DB4D41
}

.isNotFavorite,
.isNotFavorite:focus {
    color: #DB4D41;
    background-color: #32323A;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 1.5rem;
}

section h2 {
    font-size: 2rem;
    font-weight: bold;
}

section h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

#resultSection,
#favorites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.btn-random-song {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #1B9AAA;
    color: #F7F7F2;
    font-size: 1.5rem;
}

.span {
    grid-column: 1 / -1;
    grid-row: auto;
}

.form-label-input,
.form-label-select {
    margin-right: 1rem;
}

.form-input {
    min-width: 24rem;
    margin-right: 4rem;
}

.form {
    display: flex;
    margin-top: 3rem;
}

.form-submit {
    background-color: #1B9AAA;
    color: #F7F7F2;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    margin-left: 1rem;
}

.fixed {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #F7F7F2;
}

.btn-close:focus {
    outline: none;
}

@media only screen and (max-width: 56.25em) {

    html {
        font-size: 50%;
    }

    .song {
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }

    .song-cover {
        grid-column: 1 / -1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
    }

    .song-title {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .song-artist-album {
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .song-favorite {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .song-preview {
        grid-column: 1 / -1;
        grid-row: 5;
    }
}

@media only screen and (max-width: 43.75em) {

    .form {
        flex-direction: column;
        align-items: center;
    }

    .form-label-input,
    .form-label-select {
        margin: 1rem 0;
    }

    .form-input {
        min-width: 35rem;
        margin: 0 0;
    }

    .form-submit {
        margin-top: 1rem;
        padding: 1rem 6rem;
    }

    #resultSection,
    #favorites {
        grid-template-columns: minmax(min-content, max-content);
    }

    .song {
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        justify-content: center;
    }
}

@media only screen and (max-width: 31.25em) {
    
    html {
        font-size: 37.5%;
    }
    
    .nav {
        flex-flow:column wrap;
    }

    .menu {
        margin-top: 1rem;
        width: 80%;
    }
}