<section id="searchSection">
<h2>Recherche</h2>
<h3>Rechercher un titre sur deezer avec le formulaire suivant: </h3>
<form class="form">
    <label for="title" class="form-label-input">Titre: </label>
    <input required type="text" class="form-input" id="title" placeholder="Entrer un titre ou un artites Ex: Eminem">
    <label for="tri" class="form-label-select">Trier par: </label>
    <select class="form-select" id="tri">
        <option selected value="ALBUM_DESC">Album</option>
        <option value="ARTIST_DESC">Artiste</option>
        <option value="TRACK_DESC">Musique</option>
        <option value="RANKING">Les plus populaires</option>
        <option value="RATING_DESC">Les mieux notés</option>
        <option value="DURATION_DESC">Durées</option>
    </select>
    <button type="submit" class="form-submit">Go</button>
</form>
</section>
<section id="resultSection" class="section">

</section>