<section id="searchSection">
<h1>Recherche</h1>
<h2>Rechercher un titre sur deezer avec le formulaire suivant: </h2>
<form>
    <label for="title">Titre: </label>
    <input required type="text" class="form-control" id="title" placeholder="Entrer un titre ou un artites Ex: Eminem">
    <label for="tri">Trier par: </label>
    <select class="custom-select" id="tri">
        <option selected value="ALBUM_ASC">Album</option>
        <option value="ARTIST_ASC">Artiste</option>
        <option value="TRACK_ASC">Musique</option>
        <option value="RANKING">Les plus populaires</option>
        <option value="RATING_ASC">Les mieux notés</option>
        <option value="DURATION_ASC">Durées</option>DURATION_ASC
    </select>
    <button type="submit" class="btn btn-primary">Go</button>
</form>
</section>
<section id="resultSection">

</section>