<section id="searchSection">
<h1>Recherche</h1>
<h2>Rechercher un titre sur deezer avec le formulaire suivant: </h2>
<form>
    <label for="title">Titre: </label>
    <input required type="text" class="form-control" id="title" placeholder="Entrer un titre ou un artites Ex: Eminem">
    <label for="tri">Trier par: </label>
    <select class="custom-select" id="tri">
        <option selected value="ALBUM_DESC">Album</option>
        <option value="ARTIST_DESC">Artiste</option>
        <option value="TRACK_DESC">Musique</option>
        <option value="RANKING">Les plus populaires</option>
        <option value="RATING_DESC">Les mieux notés</option>
        <option value="DURATION_DESC">Durées</option>
    </select>
    <button type="submit" class="btn btn-primary">Go</button>
</form>
</section>
<section id="resultSection">

</section>